

.sectionB-main{
    width: 500px;
    height: 400px;
    background: var(--gradient3);
}
.sectionB-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}