
.navbar-bg{
    /* background: red; */
    margin: 0;
    padding: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
    
    
}
.header-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
   
}

.nav-options{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0;
    /* margin-right: 400px;     */
}
.lis{
    font-size: 1.8rem;
    list-style: none;
    margin: 0;
}
.lis h4{
    color: white;
    font-size: 2.3rem;
    margin: 1rem;
}
.lis h4:hover {
    color: var(--pielblanco);
}

.logo-navbar img{
    align-self: center;
    height: 70px;
}
header label {
        font-size: 5rem;
        color: white;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: .2s linear;
    }
header label:hover {
        transform: rotate(90deg);
        color: var(--pielblanco);
    }
header label:active {
        transform: rotate(90deg);
        color: var(--pielblanco);
        }
header input {
    display: none;
    
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
   background: rgba(0, 0, 0, 0.648); 
   z-index: 1000;
   padding: 1.7rem 9%;
}
.social-navbar{
    font-size: 3.5rem;
    
}
.social-navbar a i {
    margin-left: 1rem;
    text-decoration: none;
    color: white;
    transition: .3s linear;
}
.social-navbar a i:hover {
    transform: rotate(360deg);
    font-size: 4rem;
}
.social-navbar a i:active{
    color: var(--pielblanco);
}



@media screen and (max-width: 1350px){
    header {
        padding: 1.3rem 5%;
    }
}
@media screen and (max-width: 1250px){
    
}
@media screen and (max-width: 1150px){
    header {
        padding: 1rem 3%;
    }
   
}
@media screen and (max-width: 1050px){

    .header-main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
       
    }
    
}
@media screen and (max-width: 768px){
    header label{
        visibility: visible;
        opacity: 1;
    }
    header {
        position: fixed;
        /* background: rgb(255, 255, 255);  */
    }
     header .nav-position {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        /* background-image: url(../../images/TEXTURAS/nav-bg-movil.png); */
        background: rgba(0, 0, 0, 0.648); ;
        background-size: contain;
        /* background: rgba(255, 255, 255, 0.887);  */
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;      
     }
        .lis h4{
        margin: 0;
        font-size: 2.5rem;
        color: white;
    }
     header input:checked ~ .nav-position {
        transform: scaleY(1);
        opacity: 1;
        
    }
    .lis h4:hover{
        color: var(--pielblanco);
    }
    /* header input:checked ~ label::before {
        content: '\f00d';
    } */
    .header-main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        overflow-x: hidden;
       
    }
    .nav-options {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}